.course-description-truncated {
    height: 100px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: -o-ellipsis-lastline;
}

.unavailable {
    background: #3f454b;
    pointer-events: none;
    cursor: not-allowed;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    background: #fff;
    border: 3px solid #f8b600;
    color: #f8b600;
    font: 24px Arial, sans-serif;
  }

.course_details_left .content_wrapper 
{
    display: block;
}

.course_details_left .content_wrapper img
{
    display: block;
    margin: auto;
}

.course_details_left .content_wrapper h1
{
    font-size: 24px;
}

.note-content {
    margin-top: 40px;
}

.note-item {
    margin-top: 25px;
}

.note-item-body {
    max-height: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.note-item-body h1 {
    font-size: 24px;
}

.note-item-body h2 {
    font-size: 20px;
}

.note-item-body h3 {
    font-size: 16px;
}

.note-item-body h4 {
    font-size: 14px;
}

.note-item-body img {
    width: 100%;
    height: 100%;
    margin: auto;
}
.note-item-nav {
    margin-top: 15px;
}

.note-detail-content {
    margin-top: 10px;
}
.note-detail-content img {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.note-edit-content {
    margin-top: 18px;
}

.note-create-content {
    height: 500px;
}

.ck-editor__editable_inline{
    min-height: 300px;
}